<h1>{{collections['frontpage'].title}}</h1>
    {% for product in collections['frontpage'].products %}
    <div>
        <a href="{{ product.url }}">
        <img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.title | escape }}">
        <h3>{{ product.title }}</h3>
        <h3>{{ product.price | money }}</h3>
        </a>
    </div>
  {% endfor %}